@model HotelBookingRooms.BLL.Entities.Reservation
@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Hotel Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hotel.Name)
        </dd>
        <dt>
            Check in
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChkIn)
        </dd>
        <dt>
            Check out
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ChkOut)
        </dd>

        <dt>
            Status
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status.Name)
        </dd>

        <dt>
            No room
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Room.Id)
        </dd>

    </dl>
    @using (Html.BeginForm())
    {
        @*@Html.AntiForgeryToken()*@

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger"
                   onclick="return confirm('Are you sure you want to delete?')" />
            @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-primary" })
        </div>
    }
</div>