@model HotelBookingRooms.BLL.Entities.Room

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Room</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RoomType.Hotel.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RoomType.Hotel.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RoomNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RoomNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FloorNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FloorNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RoomType.NumberOfBeds)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RoomType.NumberOfBeds)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RoomType.NumberOfPeople)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RoomType.NumberOfPeople)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RoomType.PriceSeasonNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RoomType.PriceSeasonNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RoomType.PriceStandardNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RoomType.PriceStandardNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RoomType.Area)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RoomType.Area)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RoomType.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RoomType.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-default">Back to List</a>
    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model.Id">Edit</a>
</div>