@model HotelBookingRooms.BLL.Entities.Room
    @{
        ViewData["Title"] = "Details";
    }


    <h2>Details</h2>

    <table class="table table-striped">
        <tr>
            <th>
                Hotel name
            </th>
            <th>
                No Room
            </th>
            <th>
                Floor number
            </th>
            <th>
                Number of beds
            </th>
            <th>
                Price Season Number
            </th>
            <th>
                Price standard number
            <th>
                Area
            </th>
            <th>
                Description
            </th>
        </tr>

        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.RoomType.Hotel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.RoomNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.FloorNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.RoomType.NumberOfBeds)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.RoomType.NumberOfPeople)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.RoomType.PriceSeasonNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.RoomType.PriceStandardNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.RoomType.Area)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.RoomType.Description)
            </td>
        </tr>

    </table>